.column {
    /* background-color: darksalmon; */
    float: left;
    width: 300px;
}

.component {
    padding: 0.5em;
}

h2 {
    border-bottom: 1px black solid;
    font-size: 100%
}

#top {
    color: rgb(0, 255, 204);
    background-color: rgb(0, 0, 0);
}

#gamesDiv {
    display:block;
}